body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  animation: back 5s linear infinite;
}

.space {
  height:200px;
  width:200px;
  position: relative;
}

.earth{
  position:absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  height:100px;
  width:100px;
  background: radial-gradient(green, blue, green, blue, green);
  border-radius:50%;
}

.orbit{
  position:absolute;
  left: -50%;
  top:-50%;
  transform:translate(-50%, -50%);
  height:200px;
  width:200px;
  /* border:2px dashed red; */
  animation: orbit 5s linear infinite;
}

.moon{
  position:absolute;
  left: 50%;
  top: 0;
  transform:translateX(-50%);
  height:30px;
  width:30px;
  background:radial-gradient(beige, black);
  border-radius:50%;

}


@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%)
  }
}

@keyframes back {
  0% {
    background:black;
  }
  50% {
    background:beige;
  }
  100% {
    background:black;
  }
}